# O Secretário de Segurança Pública do Estado, preocupado com o aumento das ocorrências de furto de celulares em determinadas regiões, solicitou à equipe de análise de dados uma investigação detalhada sobre a distribuição desses crimes entre as delegacias do estado. A intenção é identificar padrões de concentração e desigualdade na distribuição das ocorrências, com o objetivo de revisar estratégias de policiamento, realocar recursos e reforçar ações preventivas nas áreas mais críticas.

In [48]:
import pandas as pd
import numpy as np

In [49]:
delegacia = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
delegacia

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [ ]:
# Agrupar os dados por delegacia, somando o total de furtos registrados

total_furtos = delegacia.groupby('cisp')['furto_celular'].sum().reset_index().sort_values(by = 'furto_celular', ascending = False)
total_furtos

     cisp  furto_celular
12     16          24451
2       5          22494
10     14          16492
8      12          15757
0       1          14789
..    ...            ...
87    104             72
77     92             63
131   157             55
114   138             51
129   155             46

[138 rows x 2 columns]

In [51]:
# Calcular a média, mediana e os quartis das ocorrências por delegacia.

ocorrencias_array = np.array(delegacia['furto_celular'])

In [52]:
mediana = np.median(ocorrencias_array)
media = np.mean(ocorrencias_array)

q1 = np.percentile(ocorrencias_array, 25)
q2 = np.percentile(ocorrencias_array, 50)
q3 = np.percentile(ocorrencias_array, 75)

print(f'Média: {media:.2f}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Mediana: {mediana}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 12.36
Primeiro quartil (Q1): 1.0
Segundo quartil (Q2, Mediana): 5.0
Mediana: 5.0
Terceiro quartil geral (Q3): 15.0

In [ ]:
# As delegacias que representam os 25% com maior número de furtos de celular.

delegacia_25mais = delegacia.loc[delegacia['furto_celular'] > q3]
delegacia_25mais

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
5,9,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,36,3,0,0,0,0,554,3
6,10,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,40,2,3,0,0,0,593,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36560,78,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,1,...,6.0,0.0,23,1,0,0,0,0,561,2
36563,82,8,2025,2025m08,12,4,Maricá,3302700,Grande NiterÃ³i,0,...,8.0,1.0,125,11,0,0,0,0,1202,2
36564,88,8,2025,2025m08,10,5,Barra do Pirai,3300308,Interior,1,...,13.0,1.0,37,0,0,0,0,0,382,2
36582,108,8,2025,2025m08,38,7,Comendador Levy Gasparian;Areal;Três Rios,9999991,Interior,1,...,21.0,3.0,76,1,0,0,0,0,610,2
36601,134,8,2025,2025m08,8,6,Campos dos Goytacazes,3301009,Interior,2,...,22.0,1.0,135,7,0,0,0,0,1433,2

In [54]:
# As delegacias que representam os 25% com menor número de furtos (primeiro quartil).

delegacia_25menos = delegacia.loc[delegacia['furto_celular'] < q1]
delegacia_25menos

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
26,31,1,2003,2003m01,14,2,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,10,0,0,0,0,0,41,3
33,38,1,2003,2003m01,16,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,33,6,2,0,0,0,552,3
37,44,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,18,1,0,0,0,0,464,3
38,48,1,2003,2003m01,24,3,Seropédica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36614,147,8,2025,2025m08,8,6,São Francisco de Itabapoana,3304755,Interior,2,...,5.0,0.0,6,1,1,0,0,0,143,2
36617,152,8,2025,2025m08,11,7,Duas Barras,3301603,Interior,0,...,9.0,0.0,8,1,0,0,0,0,58,2
36620,155,8,2025,2025m08,36,6,São Sebastião do Alto,3305307,Interior,0,...,0.0,0.0,7,0,0,0,0,0,15,2
36621,156,8,2025,2025m08,11,7,Santa Maria Madalena,3304607,Interior,0,...,1.0,0.0,2,0,0,0,0,0,25,2
36623,158,8,2025,2025m08,11,7,Bom Jardim,3300506,Interior,0,...,0.0,0.0,9,0,0,0,0,0,54,2

# O Secretário de Segurança Pública do Estado solicitou uma análise acerca das ocorrências estelionato registradas por município. O objetivo é identificar àqueles municípios que representam os 25% que mais ocorreram tal fato. Além disso, o Secretário quer identificar aqueles que menos ocorreram.

In [55]:
estelionato_array = np.array(delegacia['estelionato'])

In [56]:
mediana = np.median(estelionato_array)

q1 = np.percentile(estelionato_array, 25)
q2 = np.percentile(estelionato_array, 50)
q3 = np.percentile(estelionato_array, 75)

print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Mediana: {mediana}')
print(f'Terceiro quartil geral (Q3): {q3}')

Primeiro quartil (Q1): 3.0
Segundo quartil (Q2, Mediana): 12.0
Mediana: 12.0
Terceiro quartil geral (Q3): 34.0

In [57]:
municipios_25mais = delegacia.groupby('munic')['estelionato']

# O Secretário de Segurança Pública do Estado solicitou uma análise acerca das ocorrências de estelionato por município. O objetivo é identificar aqueles municípios que representam os 25% que mais ocorreram tal fato. Além disso, o Secretário quer identificar aqueles que menos tiveram. A mesma análise deve ser feita verificando dados de apreensão de menores.