## Evolução da Recuperação de Veículos

### ANALISAR O COMPORTAMENTO DA RECUPERAÇÃO DE VEÍCULOS NA ÚLTIMA DÉCADA.
### IDENTIFICAR TENDÊNCIAS DE CRESCIMENTO, QUEDA OU ESTABILIDADE.
### EXISTE CORRELAÇÃO COM ROUBOS E/OU FURTOS DE VEÍCULOS?.

In [22]:
import numpy as np
import pandas as pd

In [23]:
projeto = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
projeto

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [24]:
baixada = projeto[projeto["regiao"] == "Baixada Fluminense"]
baixada

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,Seropédica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
39,50,1,2003,2003m01,24,3,Itaguaí,3302007,Baixada Fluminense,7,...,NaN,NaN,79,3,0,0,0,0,246,3
40,51,1,2003,2003m01,24,3,Paracambi,3303609,Baixada Fluminense,2,...,NaN,NaN,26,2,0,0,0,0,91,3
41,52,1,2003,2003m01,20,3,Nova Iguaçu,3303500,Baixada Fluminense,6,...,NaN,NaN,94,1,1,0,0,0,585,3
42,53,1,2003,2003m01,20,3,Mesquita,3302858,Baixada Fluminense,8,...,NaN,NaN,89,4,1,0,0,0,372,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36547,63,8,2025,2025m08,24,3,Japeri,3302270,Baixada Fluminense,0,...,5.0,1.0,30,3,0,0,0,0,256,2
36548,64,8,2025,2025m08,21,3,São João de Meriti,3305109,Baixada Fluminense,7,...,23.0,0.0,168,17,2,0,0,0,2040,2
36549,65,8,2025,2025m08,34,3,Magé,3302502,Baixada Fluminense,1,...,5.0,0.0,40,2,0,0,0,0,278,2
36550,66,8,2025,2025m08,34,3,Magé,3302502,Baixada Fluminense,3,...,11.0,0.0,82,4,0,0,0,0,631,2
36551,67,8,2025,2025m08,34,3,Guapimirim,3301850,Baixada Fluminense,1,...,10.0,0.0,26,1,0,0,0,0,266,2

In [25]:
menores = baixada.groupby('munic')['aaapai'].sum().reset_index()
menores

                 munic  aaapai
0         Belford Roxo  2584.0
1      Duque de Caxias  6233.0
2           Guapimirim   213.0
3              Itaguaí   881.0
4               Japeri   402.0
5                 Magé  1251.0
6      Magé;Guapimirim   126.0
7             Mesquita  1218.0
8            Nilópolis   693.0
9          Nova Iguaçu  4098.0
10           Paracambi   366.0
11           Queimados   573.0
12    Queimados;Japeri     0.0
13          Seropédica   309.0
14  São João de Meriti  2953.0

In [26]:
apreensao_menores_array = np.array(menores['aaapai'])

In [27]:
mediana = np.median(apreensao_menores_array)
media = np.mean(apreensao_menores_array)

q1 = np.percentile(apreensao_menores_array, 25)
q2 = np.percentile(apreensao_menores_array, 50)
q3 = np.percentile(apreensao_menores_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 1460.00
Mediana: 693.0
Distancia: 110.68%
Primeiro quartil (Q1): 337.5
Segundo quartil (Q2, Mediana): 693.0
Terceiro quartil geral (Q3): 1917.5

In [28]:
total_apreensao = menores.loc[menores['aaapai'] >= limite_superior]
total_apreensao.sort_values(by = 'aaapai', ascending = False)

             munic  aaapai
1  Duque de Caxias  6233.0

In [29]:
total_apreensao.to_csv('outliers_baixada', index = False)

In [30]:
menores.to_csv('munic_baixada', index = False)

In [31]:
# YEAR(BaseDPEvolucaoMensalCisp) >=  YEAR(TODAY()) - 10, filtrar ano