In [458]:
import numpy as np
import pandas as pd

In [459]:
projeto = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
projeto

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [460]:
municipios = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep = ';', encoding = 'latin1')
municipios

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,AperibÃ©,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,ArmaÃ§Ã£o dos BÃºzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12876,3306008,TrÃªs Rios,2025,8,2025m08,Interior,1,0,0,1,...,19,2,55,1,0,0,0,0,514,2
12877,3306107,ValenÃ§a,2025,8,2025m08,Interior,0,0,0,0,...,6,1,48,1,1,0,0,0,206,2
12878,3306156,Varre-Sai,2025,8,2025m08,Interior,1,0,0,1,...,0,0,7,0,0,0,0,0,33,2
12879,3306206,Vassouras,2025,8,2025m08,Interior,0,0,0,0,...,1,0,27,0,0,0,0,0,121,2
12880,3306305,Volta Redonda,2025,8,2025m08,Interior,6,0,0,6,...,26,2,157,7,0,0,0,0,1456,2

## ApreensÃ£o de Menores na Baixada Fluminense

### Identificar os municÃ­pios da Baixada que compÃµem os 25% com mais apreensÃµes.

In [461]:
baixada = projeto[projeto["regiao"] == "Baixada Fluminense"]
baixada

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,SeropÃ©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
39,50,1,2003,2003m01,24,3,ItaguaÃ­,3302007,Baixada Fluminense,7,...,NaN,NaN,79,3,0,0,0,0,246,3
40,51,1,2003,2003m01,24,3,Paracambi,3303609,Baixada Fluminense,2,...,NaN,NaN,26,2,0,0,0,0,91,3
41,52,1,2003,2003m01,20,3,Nova IguaÃ§u,3303500,Baixada Fluminense,6,...,NaN,NaN,94,1,1,0,0,0,585,3
42,53,1,2003,2003m01,20,3,Mesquita,3302858,Baixada Fluminense,8,...,NaN,NaN,89,4,1,0,0,0,372,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36547,63,8,2025,2025m08,24,3,Japeri,3302270,Baixada Fluminense,0,...,5.0,1.0,30,3,0,0,0,0,256,2
36548,64,8,2025,2025m08,21,3,SÃ£o JoÃ£o de Meriti,3305109,Baixada Fluminense,7,...,23.0,0.0,168,17,2,0,0,0,2040,2
36549,65,8,2025,2025m08,34,3,MagÃ©,3302502,Baixada Fluminense,1,...,5.0,0.0,40,2,0,0,0,0,278,2
36550,66,8,2025,2025m08,34,3,MagÃ©,3302502,Baixada Fluminense,3,...,11.0,0.0,82,4,0,0,0,0,631,2
36551,67,8,2025,2025m08,34,3,Guapimirim,3301850,Baixada Fluminense,1,...,10.0,0.0,26,1,0,0,0,0,266,2

In [462]:
menores = baixada.groupby('munic')['aaapai'].sum().reset_index()
menores.sort_values(by = 'aaapai', ascending = False)

                 munic  aaapai
1      Duque de Caxias  6233.0
9          Nova IguaÃ§u  4098.0
14  SÃ£o JoÃ£o de Meriti  2953.0
0         Belford Roxo  2584.0
5                 MagÃ©  1251.0
7             Mesquita  1218.0
3              ItaguaÃ­   881.0
8            NilÃ³polis   693.0
11           Queimados   573.0
4               Japeri   402.0
10           Paracambi   366.0
13          SeropÃ©dica   309.0
2           Guapimirim   213.0
6      MagÃ©;Guapimirim   126.0
12    Queimados;Japeri     0.0

In [463]:
apreensao_menores_array = np.array(menores['aaapai'])

In [464]:
mediana = np.median(apreensao_menores_array)
media = np.mean(apreensao_menores_array)

q1 = np.percentile(apreensao_menores_array, 25)
q2 = np.percentile(apreensao_menores_array, 50)
q3 = np.percentile(apreensao_menores_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

MÃ©dia: 1460.00
Mediana: 693.0
Distancia: 110.68%
Primeiro quartil (Q1): 337.5
Segundo quartil (Q2, Mediana): 693.0
Terceiro quartil geral (Q3): 1917.5

In [465]:
apreensao_q3 = menores.loc[menores['aaapai'] >= q3]
apreensao_q3.sort_values(by = 'aaapai', ascending = False)

                 munic  aaapai
1      Duque de Caxias  6233.0
9          Nova IguaÃ§u  4098.0
14  SÃ£o JoÃ£o de Meriti  2953.0
0         Belford Roxo  2584.0

In [466]:
total_apreensao = menores.loc[menores['aaapai'] >= limite_superior]
total_apreensao.sort_values(by = 'aaapai', ascending = False)

             munic  aaapai
1  Duque de Caxias  6233.0

In [467]:
apreensao_q3.to_csv('q3_apreensao', index = False)

In [468]:
total_apreensao.to_csv('outliers_baixada', index = False)

In [469]:
menores.to_csv('munic_baixada', index = False)

In [470]:
# YEAR(BaseDPEvolucaoMensalCisp) >=  YEAR(TODAY()) - 10, filtrar ano

## Estelionato na Capital 

### Analisar a evoluÃ§Ã£o dos registros de estelionato na cidade do Rio de Janeiro.
### Identificar as delegacias que compÃµem os 25% com mais ocorrÃªncias.

In [471]:
capital = projeto[projeto["regiao"] == "Capital"]
capital

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36528,40,8,2025,2025m08,9,2,Rio de Janeiro,3304557,Capital,2,...,3.0,0.0,39,5,0,0,0,0,675,2
36529,41,8,2025,2025m08,18,2,Rio de Janeiro,3304557,Capital,0,...,3.0,0.0,47,3,0,0,0,0,715,2
36530,42,8,2025,2025m08,31,2,Rio de Janeiro,3304557,Capital,1,...,13.0,2.0,92,3,2,0,0,0,1225,2
36531,43,8,2025,2025m08,27,2,Rio de Janeiro,3304557,Capital,1,...,7.0,0.0,87,7,1,0,0,0,688,2
36532,44,8,2025,2025m08,3,1,Rio de Janeiro,3304557,Capital,1,...,13.0,0.0,43,5,1,0,0,0,808,2

In [472]:
estelionato = capital.groupby('cisp')['estelionato'].sum().reset_index()
estelionato.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
12    16        41003
31    35        38234
28    32        32570
0      1        27293
30    34        23101
2      5        21417
8     12        21174
15    19        20340
38    42        19272
6     10        19249
10    14        18586
17    21        17909
25    29        17796
5      9        17092
33    37        15427
29    33        15389
32    36        15234
19    23        14311
23    27        13830
16    20        13490
18    22        13293
37    41        12936
9     13        11509
24    28        10632
11    15        10409
14    18        10130
34    38        10100
26    30         8875
20    24         8637
22    26         8369
35    39         8129
21    25         7523
3      6         7226
13    17         6998
1      4         6918
36    40         6726
40    44         6661
27    31         6443
39    43         6065
4      7         2182
7     11         1293
41    45           98

In [473]:
estelionato_array = np.array(estelionato['estelionato'])

In [474]:
mediana = np.median(estelionato_array)
media = np.mean(estelionato_array)

q1 = np.percentile(estelionato_array, 25)
q2 = np.percentile(estelionato_array, 50)
q3 = np.percentile(estelionato_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

MÃ©dia: 14139.74
Mediana: 13114.5
Distancia: 7.82%
Primeiro quartil (Q1): 7674.5
Segundo quartil (Q2, Mediana): 13114.5
Terceiro quartil geral (Q3): 18416.75

In [475]:
estelionato_q3 = estelionato.loc[estelionato['estelionato'] >= q3]
estelionato_q3.sort_values(by = 'estelionato', ascending = False)

    cisp  estelionato
12    16        41003
31    35        38234
28    32        32570
0      1        27293
30    34        23101
2      5        21417
8     12        21174
15    19        20340
38    42        19272
6     10        19249
10    14        18586

In [476]:
outlier_estelionato = estelionato.loc[estelionato['estelionato'] >= limite_superior]
outlier_estelionato.sort_values(by = 'estelionato', ascending = False)

    cisp  estelionato
12    16        41003
31    35        38234

In [477]:
estelionato_q3.to_csv('q3_estelionato', index = False)

In [478]:
outlier_estelionato.to_csv('outliers_capital', index = False)

In [479]:
estelionato.to_csv('estelionato_cisp', index = False)

## Crimes Violentos na RegiÃ£o dos Lagos

### No recorte da RegiÃ£o dos Lagos, existe algum que destoa dos demais no que diz respeito a crimes violentos?
### Comparar esses municÃ­pios com os demais da regiÃ£o.

In [480]:
regiao_lagos = ['Araruama', 'ArmaÃ§Ã£o dos BÃºzios', 'Arraial do Cabo', 'Cabo Frio', 'Iguaba Grande', 'SÃ£o Pedro da Aldeia','Saquarema']
lagos = municipios.loc[(municipios['fmun'].isin (regiao_lagos))]
lagos

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
4,3300233,ArmaÃ§Ã£o dos BÃºzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,1,0,26,0,0,0,0,0,176,3
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,8,0,121,7,3,0,0,0,1105,3
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,1,0,19,0,0,0,0,0,126,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12794,3300258,Arraial do Cabo,2025,8,2025m08,Interior,0,0,0,0,...,2,0,10,1,0,0,0,0,156,2
12800,3300704,Cabo Frio,2025,8,2025m08,Interior,8,0,0,8,...,23,0,94,9,0,0,0,0,1159,2
12816,3301876,Iguaba Grande,2025,8,2025m08,Interior,0,0,0,0,...,3,0,18,1,0,0,0,0,157,2
12866,3305208,SÃ£o Pedro da Aldeia,2025,8,2025m08,Interior,3,0,0,3,...,10,1,33,1,0,0,0,0,321,2
12869,3305505,Saquarema,2025,8,2025m08,Interior,3,0,0,3,...,15,0,80,2,0,0,0,0,858,2

In [481]:
violentos = lagos.groupby('fmun')['letalidade_violenta'].sum().reset_index()
violentos.sort_values(by = 'letalidade_violenta', ascending = False)

                  fmun  letalidade_violenta
3            Cabo Frio                 1343
0             Araruama                  685
6  SÃ£o Pedro da Aldeia                  519
5            Saquarema                  356
1   ArmaÃ§Ã£o dos BÃºzios                  187
2      Arraial do Cabo                  150
4        Iguaba Grande                   81

In [482]:
violentos_array = np.array(violentos['letalidade_violenta'])

In [483]:
mediana = np.median(violentos_array)
media = np.mean(violentos_array)

q1 = np.percentile(violentos_array, 25)
q2 = np.percentile(violentos_array, 50)
q3 = np.percentile(violentos_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

MÃ©dia: 474.43
Mediana: 356.0
Distancia: 33.27%
Primeiro quartil (Q1): 168.5
Segundo quartil (Q2, Mediana): 356.0
Terceiro quartil geral (Q3): 602.0

In [484]:
outlier_lagos = violentos.loc[violentos['letalidade_violenta'] >= limite_superior]
outlier_lagos.sort_values(by = 'letalidade_violenta', ascending = False)

        fmun  letalidade_violenta
3  Cabo Frio                 1343

In [485]:
regiao_q3 = violentos.loc[violentos['letalidade_violenta'] >= q3]
regiao_q3.sort_values(by = 'letalidade_violenta', ascending = False)

        fmun  letalidade_violenta
3  Cabo Frio                 1343
0   Araruama                  685

In [486]:
violentos.to_csv('violentos_lagos', index = False)

In [487]:
outlier_lagos.to_csv('outliers_lagos', index = False)

In [488]:
regiao_q3.to_csv('q3_lagos', index = False)

## MÃ©dia de Registro de OcorrÃªncias por UPP

### Identificar quais UPPs destoam das demais sobre o total de ocorrÃªncias

In [489]:
upp = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv', sep = ';',encoding='latin1')
upp

,cod_upp,upp,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,...,armas_apreendidas,cump_mandado_prisao,ocorr_flagrante,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias
0,1,Santa Marta,2007,1,0,0,0,0,0,1,...,2,1,0,0,0,0,0,0,0,11
1,2,Cidade de Deus,2007,1,3,0,0,0,1,18,...,7,2,11,7,2,0,0,0,0,98
2,3,Batam,2007,1,0,0,0,0,0,4,...,0,0,0,1,0,0,0,0,0,19
3,4,ChapÃ©u Mangueira / BabilÃ´nia,2007,1,0,0,0,0,0,1,...,0,2,0,1,0,0,0,0,0,9
4,5,PavÃ£o-PavÃ£ozinho,2007,1,0,0,0,0,0,4,...,0,0,0,1,1,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,34,ArarÃ¡ / Mandela,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7976,35,Lins,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7977,36,Camarista MÃ©ier,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7978,37,Mangueirinha,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7979,38,Vila Kennedy,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [490]:
ocorrencia = upp.groupby('upp')['registro_ocorrencias'].sum().reset_index()
ocorrencia.sort_values(by = 'registro_ocorrencias', ascending = False)

                             upp  registro_ocorrencias
37                  Vila Kennedy                 27677
12                Cidade de Deus                 23219
4     Barreira do Vasco / Tuiuti                 14574
28                       Rocinha                 12788
18                   Jacarezinho                 12753
19                          Lins                  8297
21                     Mangueira                  7773
22                  Mangueirinha                  7264
8                Camarista MÃ©ier                  6601
20                       Macacos                  6201
27                   ProvidÃªncia                  6062
5                          Batam                  5840
6                          Borel                  5553
31                    SÃ£o Carlos                  5132
2                        AndaraÃ­                  5083
36                 Vila Cruzeiro                  5033
34                        Turano                  4889
0                 Adeus / Baiana                  4794
23                    Manguinhos                  4628
33                     Tabajaras                  4483
26              PavÃ£o-PavÃ£ozinho                  4212
13   Coroa / Fallet / Fogueteiro                  3681
35                       Vidigal                  3629
29                     Salgueiro                  3539
15                    Fazendinha                  3503
32     SÃ£o JoÃ£o / Matriz / Queto                  3148
24                 Nova BrasÃ­lia                  3102
7                           Caju                  2967
3                ArarÃ¡ / Mandela                  2753
11                       Chatuba                  2516
10  ChapÃ©u Mangueira / BabilÃ´nia                  2402
14       Escondidinho / Prazeres                  2371
1                         AlemÃ£o                  2285
30                   Santa Marta                  1951
16                       Formiga                  1490
25             Parque ProletÃ¡rio                  1481
17                   FÃ© / Sereno                  1270
9                     Cerro-CorÃ¡                   893

In [491]:
upps_array = np.array(ocorrencia['registro_ocorrencias'])

In [492]:
mediana = np.median(upps_array)
media = np.mean(upps_array)

q1 = np.percentile(upps_array, 25)
q2 = np.percentile(upps_array, 50)
q3 = np.percentile(upps_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')

MÃ©dia: 5943.08
Mediana: 4555.5
Distancia: 30.46%
Primeiro quartil (Q1): 2806.5
Segundo quartil (Q2, Mediana): 4555.5
Terceiro quartil (Q3): 6166.25

In [493]:
outlier_upp = ocorrencia.loc[ocorrencia['registro_ocorrencias'] >= limite_superior]
outlier_upp.sort_values(by = 'registro_ocorrencias', ascending = False)

                           upp  registro_ocorrencias
37                Vila Kennedy                 27677
12              Cidade de Deus                 23219
4   Barreira do Vasco / Tuiuti                 14574
28                     Rocinha                 12788
18                 Jacarezinho                 12753

In [494]:
outlier_upp.to_csv('outlier_upp', index = False)

In [495]:
ocorrencia.to_csv('upp', index = False)