In [1]:
import numpy as np
import pandas as pd

In [2]:
projeto = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
projeto

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36761,159,9,2025,2025m09,35,4,Cachoeiras de Macacu,3300803,Interior,0,...,3.0,0.0,25,0,0,0,0,0,173,2
36762,165,9,2025,2025m09,33,5,Mangaratiba,3302601,Interior,0,...,4.0,0.0,30,0,0,0,0,0,226,2
36763,166,9,2025,2025m09,33,5,Angra dos Reis,3300100,Interior,2,...,20.0,1.0,73,15,0,0,0,0,635,2
36764,167,9,2025,2025m09,43,5,Paraty,3303807,Interior,1,...,3.0,1.0,15,4,1,0,0,0,242,2
36765,168,9,2025,2025m09,28,5,Rio Claro,3304409,Interior,0,...,0.0,0.0,7,0,0,0,0,0,64,2

In [3]:
municipios = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep = ';', encoding = 'latin1')
municipios

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,AperibÃ©,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,ArmaÃ§Ã£o dos BÃºzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12968,3306008,TrÃªs Rios,2025,9,2025m09,Interior,3,0,0,3,...,14,1,66,2,0,0,0,0,538,2
12969,3306107,ValenÃ§a,2025,9,2025m09,Interior,0,0,0,0,...,8,1,46,0,0,0,0,0,241,2
12970,3306156,Varre-Sai,2025,9,2025m09,Interior,0,0,0,0,...,0,0,6,0,0,0,0,0,23,2
12971,3306206,Vassouras,2025,9,2025m09,Interior,0,0,0,0,...,3,0,25,0,0,0,0,0,137,2
12972,3306305,Volta Redonda,2025,9,2025m09,Interior,5,0,0,5,...,11,3,157,4,0,0,0,0,1433,2

## ApreensÃ£o de Menores na Baixada Fluminense

### Identificar os municÃ­pios da Baixada que compÃµem os 25% com mais apreensÃµes.

In [4]:
baixada = projeto[projeto["regiao"] == "Baixada Fluminense"]
baixada

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,SeropÃ©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
39,50,1,2003,2003m01,24,3,ItaguaÃ­,3302007,Baixada Fluminense,7,...,NaN,NaN,79,3,0,0,0,0,246,3
40,51,1,2003,2003m01,24,3,Paracambi,3303609,Baixada Fluminense,2,...,NaN,NaN,26,2,0,0,0,0,91,3
41,52,1,2003,2003m01,20,3,Nova IguaÃ§u,3303500,Baixada Fluminense,6,...,NaN,NaN,94,1,1,0,0,0,585,3
42,53,1,2003,2003m01,20,3,Mesquita,3302858,Baixada Fluminense,8,...,NaN,NaN,89,4,1,0,0,0,372,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36684,63,9,2025,2025m09,24,3,Japeri,3302270,Baixada Fluminense,4,...,16.0,1.0,25,2,1,0,0,0,271,2
36685,64,9,2025,2025m09,21,3,SÃ£o JoÃ£o de Meriti,3305109,Baixada Fluminense,5,...,23.0,1.0,158,12,2,0,0,0,1817,2
36686,65,9,2025,2025m09,34,3,MagÃ©,3302502,Baixada Fluminense,1,...,4.0,0.0,35,3,1,0,0,0,324,2
36687,66,9,2025,2025m09,34,3,MagÃ©,3302502,Baixada Fluminense,0,...,10.0,0.0,111,9,0,0,0,0,616,2
36688,67,9,2025,2025m09,34,3,Guapimirim,3301850,Baixada Fluminense,2,...,6.0,0.0,42,1,0,0,0,0,306,2

In [5]:
menores = baixada.groupby('munic')['aaapai'].sum().reset_index()
menores.sort_values(by = 'aaapai', ascending = False)

                 munic  aaapai
1      Duque de Caxias  6239.0
9          Nova IguaÃ§u  4106.0
14  SÃ£o JoÃ£o de Meriti  2956.0
0         Belford Roxo  2595.0
5                 MagÃ©  1254.0
7             Mesquita  1219.0
3              ItaguaÃ­   882.0
8            NilÃ³polis   695.0
11           Queimados   573.0
4               Japeri   402.0
10           Paracambi   367.0
13          SeropÃ©dica   309.0
2           Guapimirim   213.0
6      MagÃ©;Guapimirim   126.0
12    Queimados;Japeri     0.0

In [6]:
apreensao_menores_array = np.array(menores['aaapai'])

In [7]:
mediana = np.median(apreensao_menores_array)
media = np.mean(apreensao_menores_array)

q1 = np.percentile(apreensao_menores_array, 25)
q2 = np.percentile(apreensao_menores_array, 50)
q3 = np.percentile(apreensao_menores_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

variancia = np.var(apreensao_menores_array)
desvio_padrao = np.std(apreensao_menores_array)
coeficiente_variacao = (desvio_padrao / media) *100
distancia_variancia = (variancia / (media ** 2)) *100

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')
print('\nVariÃ¢ncia:', variancia)
print('Desvio padrÃ£o:', desvio_padrao)
print('Coeficiente de variaÃ§Ã£o:', coeficiente_variacao)
print('DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia:', distancia_variancia)

MÃ©dia: 1462.40
Mediana: 695.0
Distancia: 110.42%
Primeiro quartil (Q1): 338.0
Segundo quartil (Q2, Mediana): 695.0
Terceiro quartil geral (Q3): 1924.5

VariÃ¢ncia: 2951859.0399999996
Desvio padrÃ£o: 1718.0975059640823
Coeficiente de variaÃ§Ã£o: 117.48478569229228
DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia: 138.02674869163843

In [8]:
apreensao_q3 = menores.loc[menores['aaapai'] >= q3]
apreensao_q3.sort_values(by = 'aaapai', ascending = False)

                 munic  aaapai
1      Duque de Caxias  6239.0
9          Nova IguaÃ§u  4106.0
14  SÃ£o JoÃ£o de Meriti  2956.0
0         Belford Roxo  2595.0

In [9]:
total_apreensao = menores.loc[menores['aaapai'] >= limite_superior]
total_apreensao.sort_values(by = 'aaapai', ascending = False)

             munic  aaapai
1  Duque de Caxias  6239.0

In [10]:
apreensao_q3.to_csv('q3_apreensao', index = False)

In [11]:
total_apreensao.to_csv('outliers_baixada', index = False)

In [12]:
menores.to_csv('munic_baixada', index = False)

In [13]:
# YEAR(BaseDPEvolucaoMensalCisp) >=  YEAR(TODAY()) - 10, filtrar ano

## Estelionato na Capital 

### Analisar a evoluÃ§Ã£o dos registros de estelionato na cidade do Rio de Janeiro.
### Identificar as delegacias que compÃµem os 25% com mais ocorrÃªncias.

In [14]:
capital = projeto[projeto["regiao"] == "Capital"]
capital

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36665,40,9,2025,2025m09,9,2,Rio de Janeiro,3304557,Capital,1,...,4.0,2.0,27,5,0,0,0,0,705,2
36666,41,9,2025,2025m09,18,2,Rio de Janeiro,3304557,Capital,0,...,5.0,0.0,38,3,0,0,0,0,712,2
36667,42,9,2025,2025m09,31,2,Rio de Janeiro,3304557,Capital,8,...,12.0,0.0,76,3,0,0,0,0,1335,2
36668,43,9,2025,2025m09,27,2,Rio de Janeiro,3304557,Capital,4,...,13.0,3.0,121,10,1,0,0,0,699,2
36669,44,9,2025,2025m09,3,1,Rio de Janeiro,3304557,Capital,2,...,8.0,0.0,29,4,0,0,0,0,799,2

In [15]:
estelionato = capital.groupby('cisp')['estelionato'].sum().reset_index()
estelionato.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
12    16        41470
31    35        38596
28    32        33040
0      1        27432
30    34        23243
2      5        21583
8     12        21393
15    19        20496
38    42        19579
6     10        19373
10    14        18779
17    21        18146
25    29        17989
5      9        17249
33    37        15546
29    33        15490
32    36        15418
19    23        14398
23    27        14014
16    20        13630
18    22        13405
37    41        13093
9     13        11585
24    28        10752
11    15        10535
34    38        10251
14    18        10222
26    30         9021
20    24         8727
22    26         8470
35    39         8274
21    25         7613
3      6         7282
13    17         7075
1      4         6968
36    40         6817
40    44         6749
27    31         6543
39    43         6178
4      7         2219
7     11         1315
41    45           98

In [16]:
estelionato_array = np.array(estelionato['estelionato'])

In [17]:
mediana = np.median(estelionato_array)
media = np.mean(estelionato_array)

q1 = np.percentile(estelionato_array, 25)
q2 = np.percentile(estelionato_array, 50)
q3 = np.percentile(estelionato_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

variancia = np.var(estelionato_array)
desvio_padrao = np.std(estelionato_array)
coeficiente_variacao = (desvio_padrao / media) *100
distancia_variancia = (variancia / (media ** 2)) *100

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')
print('\nVariÃ¢ncia:', variancia)
print('Desvio padrÃ£o:', desvio_padrao)
print('Coeficiente de variaÃ§Ã£o:', coeficiente_variacao)
print('DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia:', distancia_variancia)

MÃ©dia: 14287.05
Mediana: 13249.0
Distancia: 7.83%
Primeiro quartil (Q1): 7778.25
Segundo quartil (Q2, Mediana): 13249.0
Terceiro quartil geral (Q3): 18620.75

VariÃ¢ncia: 79603709.52154195
Desvio padrÃ£o: 8922.091095788137
Coeficiente de variaÃ§Ã£o: 62.44880911499956
DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia: 38.99853759881652

In [18]:
estelionato_q3 = estelionato.loc[estelionato['estelionato'] >= q3]
estelionato_q3.sort_values(by = 'estelionato', ascending = False)

    cisp  estelionato
12    16        41470
31    35        38596
28    32        33040
0      1        27432
30    34        23243
2      5        21583
8     12        21393
15    19        20496
38    42        19579
6     10        19373
10    14        18779

In [19]:
outlier_estelionato = estelionato.loc[estelionato['estelionato'] >= limite_superior]
outlier_estelionato.sort_values(by = 'estelionato', ascending = False)

    cisp  estelionato
12    16        41470
31    35        38596

In [20]:
estelionato_q3.to_csv('q3_estelionato', index = False)

In [21]:
outlier_estelionato.to_csv('outliers_capital', index = False)

In [22]:
estelionato.to_csv('estelionato_cisp', index = False)

## Crimes Violentos na RegiÃ£o dos Lagos

### No recorte da RegiÃ£o dos Lagos, existe algum que destoa dos demais no que diz respeito a crimes violentos?
### Comparar esses municÃ­pios com os demais da regiÃ£o.

In [23]:
regiao_lagos = ['Araruama', 'ArmaÃ§Ã£o dos BÃºzios', 'Arraial do Cabo', 'Cabo Frio', 'Iguaba Grande', 'SÃ£o Pedro da Aldeia','Saquarema']
lagos = municipios.loc[(municipios['fmun'].isin (regiao_lagos))]
lagos

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
4,3300233,ArmaÃ§Ã£o dos BÃºzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
5,3300258,Arraial do Cabo,2014,1,2014m01,Interior,0,0,0,0,...,1,0,26,0,0,0,0,0,176,3
11,3300704,Cabo Frio,2014,1,2014m01,Interior,9,0,0,9,...,8,0,121,7,3,0,0,0,1105,3
27,3301876,Iguaba Grande,2014,1,2014m01,Interior,0,0,0,0,...,1,0,19,0,0,0,0,0,126,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12886,3300258,Arraial do Cabo,2025,9,2025m09,Interior,0,0,0,0,...,4,0,13,3,0,0,0,0,166,2
12892,3300704,Cabo Frio,2025,9,2025m09,Interior,6,0,0,6,...,13,2,96,6,1,0,0,0,1231,2
12908,3301876,Iguaba Grande,2025,9,2025m09,Interior,0,0,0,0,...,2,0,21,1,0,0,0,0,118,2
12958,3305208,SÃ£o Pedro da Aldeia,2025,9,2025m09,Interior,2,0,0,2,...,13,0,39,1,0,0,0,0,312,2
12961,3305505,Saquarema,2025,9,2025m09,Interior,5,0,0,5,...,9,0,57,1,0,0,0,0,632,2

In [24]:
violentos = lagos.groupby('fmun')['letalidade_violenta'].sum().reset_index()
violentos.sort_values(by = 'letalidade_violenta', ascending = False)

                  fmun  letalidade_violenta
3            Cabo Frio                 1350
0             Araruama                  687
6  SÃ£o Pedro da Aldeia                  521
5            Saquarema                  361
1   ArmaÃ§Ã£o dos BÃºzios                  187
2      Arraial do Cabo                  150
4        Iguaba Grande                   81

In [25]:
violentos_array = np.array(violentos['letalidade_violenta'])

In [26]:
mediana = np.median(violentos_array)
media = np.mean(violentos_array)

q1 = np.percentile(violentos_array, 25)
q2 = np.percentile(violentos_array, 50)
q3 = np.percentile(violentos_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

variancia = np.var(violentos_array)
desvio_padrao = np.std(violentos_array)
coeficiente_variacao = (desvio_padrao / media) *100
distancia_variancia = (variancia / (media ** 2)) *100

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')
print('\nVariÃ¢ncia:', variancia)
print('Desvio padrÃ£o:', desvio_padrao)
print('Coeficiente de variaÃ§Ã£o:', coeficiente_variacao)
print('DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia:', distancia_variancia)

MÃ©dia: 476.71
Mediana: 361.0
Distancia: 32.05%
Primeiro quartil (Q1): 168.5
Segundo quartil (Q2, Mediana): 361.0
Terceiro quartil geral (Q3): 604.0

VariÃ¢ncia: 167066.48979591834
Desvio padrÃ£o: 408.73767846372857
Coeficiente de variaÃ§Ã£o: 85.74059781978124
DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia: 73.51450114493475

In [27]:
outlier_lagos = violentos.loc[violentos['letalidade_violenta'] >= limite_superior]
outlier_lagos.sort_values(by = 'letalidade_violenta', ascending = False)

        fmun  letalidade_violenta
3  Cabo Frio                 1350

In [28]:
regiao_q3 = violentos.loc[violentos['letalidade_violenta'] >= q3]
regiao_q3.sort_values(by = 'letalidade_violenta', ascending = False)

        fmun  letalidade_violenta
3  Cabo Frio                 1350
0   Araruama                  687

In [29]:
violentos.to_csv('violentos_lagos', index = False)

In [30]:
outlier_lagos.to_csv('outliers_lagos', index = False)

In [31]:
regiao_q3.to_csv('q3_lagos', index = False)

## MÃ©dia de Registro de OcorrÃªncias por UPP

### Identificar quais UPPs destoam das demais sobre o total de ocorrÃªncias

In [32]:
upp = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv', sep = ';',encoding='latin1')
upp

,cod_upp,upp,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,...,armas_apreendidas,cump_mandado_prisao,ocorr_flagrante,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias
0,1,Santa Marta,2007,1,0,0,0,0,0,1,...,2,1,0,0,0,0,0,0,0,11
1,2,Cidade de Deus,2007,1,3,0,0,0,1,18,...,7,2,11,7,2,0,0,0,0,98
2,3,Batam,2007,1,0,0,0,0,0,4,...,0,0,0,1,0,0,0,0,0,19
3,4,ChapÃ©u Mangueira / BabilÃ´nia,2007,1,0,0,0,0,0,1,...,0,2,0,1,0,0,0,0,0,9
4,5,PavÃ£o-PavÃ£ozinho,2007,1,0,0,0,0,0,4,...,0,0,0,1,1,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,34,ArarÃ¡ / Mandela,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7976,35,Lins,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7977,36,Camarista MÃ©ier,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7978,37,Mangueirinha,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7979,38,Vila Kennedy,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
ocorrencia = upp.groupby('upp')['registro_ocorrencias'].sum().reset_index()
ocorrencia.sort_values(by = 'registro_ocorrencias', ascending = False)

                             upp  registro_ocorrencias
37                  Vila Kennedy                 27677
12                Cidade de Deus                 23219
4     Barreira do Vasco / Tuiuti                 14574
28                       Rocinha                 12788
18                   Jacarezinho                 12753
19                          Lins                  8297
21                     Mangueira                  7773
22                  Mangueirinha                  7264
8                Camarista MÃ©ier                  6601
20                       Macacos                  6201
27                   ProvidÃªncia                  6062
5                          Batam                  5840
6                          Borel                  5553
31                    SÃ£o Carlos                  5132
2                        AndaraÃ­                  5083
36                 Vila Cruzeiro                  5033
34                        Turano                  4889
0                 Adeus / Baiana                  4794
23                    Manguinhos                  4628
33                     Tabajaras                  4483
26              PavÃ£o-PavÃ£ozinho                  4212
13   Coroa / Fallet / Fogueteiro                  3681
35                       Vidigal                  3629
29                     Salgueiro                  3539
15                    Fazendinha                  3503
32     SÃ£o JoÃ£o / Matriz / Queto                  3148
24                 Nova BrasÃ­lia                  3102
7                           Caju                  2967
3                ArarÃ¡ / Mandela                  2753
11                       Chatuba                  2516
10  ChapÃ©u Mangueira / BabilÃ´nia                  2402
14       Escondidinho / Prazeres                  2371
1                         AlemÃ£o                  2285
30                   Santa Marta                  1951
16                       Formiga                  1490
25             Parque ProletÃ¡rio                  1481
17                   FÃ© / Sereno                  1270
9                     Cerro-CorÃ¡                   893

In [34]:
upps_array = np.array(ocorrencia['registro_ocorrencias'])

In [35]:
mediana = np.median(upps_array)
media = np.mean(upps_array)

q1 = np.percentile(upps_array, 25)
q2 = np.percentile(upps_array, 50)
q3 = np.percentile(upps_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

variancia = np.var(upps_array)
desvio_padrao = np.std(upps_array)
coeficiente_variacao = (desvio_padrao / media) *100
distancia_variancia = (variancia / (media ** 2)) *100

print(f'MÃ©dia: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')
print('\nVariÃ¢ncia:', variancia)
print('Desvio padrÃ£o:', desvio_padrao)
print('Coeficiente de variaÃ§Ã£o:', coeficiente_variacao)
print('DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia:', distancia_variancia)

MÃ©dia: 5943.08
Mediana: 4555.5
Distancia: 30.46%
Primeiro quartil (Q1): 2806.5
Segundo quartil (Q2, Mediana): 4555.5
Terceiro quartil (Q3): 6166.25

VariÃ¢ncia: 30840366.809556786
Desvio padrÃ£o: 5553.410376476493
Coeficiente de variaÃ§Ã£o: 93.44332164619028
DistÃ¢ncia da variaÃ§Ã£o em relaÃ§Ã£o a mÃ©dia: 87.31654360273374

In [36]:
outlier_upp = ocorrencia.loc[ocorrencia['registro_ocorrencias'] >= limite_superior]
outlier_upp.sort_values(by = 'registro_ocorrencias', ascending = False)

                           upp  registro_ocorrencias
37                Vila Kennedy                 27677
12              Cidade de Deus                 23219
4   Barreira do Vasco / Tuiuti                 14574
28                     Rocinha                 12788
18                 Jacarezinho                 12753

In [37]:
outlier_upp.to_csv('outlier_upp', index = False)

In [38]:
ocorrencia.to_csv('upp', index = False)